/*
	filename: bookings.htm
	page name: home
	owner: Heather Banak
	created: 02_18_2020
	updated: 04_13_2020
						*/

h1 {
	text-align: center;
	font-family: 'Source Sans Pro';
	letter-spacing: 0.7em;
	background-color: #FFFCCC;
	}
	
article {
	padding-top: 30px;
	padding-bottom: 80px;
	background-image: url("../images/background/bookings.jpg");
	background-size: cover;
	background-attachment: fixed;
	}

/*content*/
#container {
	width: 88%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-top: 70px;
	}

div.intro {
	background-color: hsla(0, 0%, 0%, 0.3);
	color: white;
	width: 100%;
	text-align: center;
	font-style: italic;
	}

.calendar {padding-top: 5px; margin-bottom: 50px;}
#calendar1 {float: left;}
#calendar2 {float: right;}

.color {color: white; padding: 2px 0 2px 18px;}

#red {background-color: #D50000; margin-bottom: 0; text-align: center; 
		font-size: 20px; font-family: 'Saira Semi Condensed', sans-serif;}
#green {background-color: #33B679; font-family: 'Source Sans Pro';}

/*form*/
.formContainer{
	width:700px;
	padding:30px;
	margin:0px auto;
	background: #FFF;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	clear: both;}
.formContainer .inner-wrap{
	padding: 30px;
	background: #F8F8F8;
	border-radius: 6px;
	margin-bottom: 15px;
}
.formContainer h1{
	background: #2A88AD;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
}
.formContainer h1 > span{
	display: block;
	margin-top: 2px;
	font: 13px Arial, Helvetica, sans-serif;
}
.formContainer label{
	display: block;
	font: 13px Arial, Helvetica, sans-serif;
	color: #888;
	margin-bottom: 15px;
}
.formContainer input[type="text"],
.formContainer input[type="date"],
.formContainer input[type="datetime"],
.formContainer input[type="email"],
.formContainer input[type="number"],
.formContainer input[type="search"],
.formContainer input[type="time"],
.formContainer input[type="url"],
.formContainer input[type="password"],
.formContainer textarea,
.formContainer select {
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.formContainer .sectionHeading{
	font: normal 20px 'Bitter', serif;
	color: #2A88AD;
	margin-bottom: 5px;
}
.formContainer .sectionHeading span {
	background: #2A88AD;
	padding: 5px 10px 5px 10px;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #fff;
	font-size: 14px;
	margin-left: -45px;
	color: #fff;
	margin-top: -3px;
}
.formContainer input[type="button"], 
.formContainer input[type="submit"]{
	background: #2A88AD;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
	font-size: 15px;
}
.formContainer input[type="button"]:hover, 
.formContainer input[type="submit"]:hover{
	background: #2A6881;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
.formContainer .privacy-policy{
	float: right;
	width: 250px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #4D4D4D;
	margin-top: 10px;
	text-align: right;
}

.formContainer .float_left {float: left; width: 250px;}
.formContainer .float_right {float: right; width: 425px;}
.formContainer  div.radio {padding-left: 60px;}
.formContainer 	div.radio span:hover {color: rgb(166, 166, 166);}
.formContainer .noFloat {clear: both;}

.formContainer #animate {width: 100%; height: 100%;}
.formContainer #animateContainer, button.schedule {height: 100px; width: 100px; float: left;}

#form {display: none;}
#formButton {display: block; margin: 0 auto 0 auto;
				font-family: 'Noto Sans TC', 'sans serif';
				width: 120px;
				height: 50px;
				border: none;
				border-radius: 25px 25px 0px 0px;
				background-color: rgb(133, 179, 201);
				font-weight: 100;
				cursor: pointer;
				width:700px;
				font-size: 18px;
				letter-spacing: 0.2em;
				box-shadow: inset 1px 1px 10px lightslategray, 0.5px 0.5px 5px slategray;;}
#formButton:focus {outline:0;}

#buttonSubmit {margin: 20px 0 0 0;
				background-color: rgb(133, 179, 201);
				width: 100px;
				height: 30px;
				border: none;}
#buttonSubmit + span {vertical-align: bottom;}
#required {font-style: italic; padding: 0 0 15px 5px; color: slategray;}



/*line*/
#line_contain {display: block;}

#line {height: 25px; display: block; margin-right: auto; margin-left: auto; transition: 0.4s ease; padding-top: 80px;}
#line:hover {transform: scale(1.2);}

.line_text {
	background-color: hsla(0, 0%, 0%, 0.3);
	padding-top: 0;
	color: white;
	width: 100%;
	text-align: center;
	font-style: italic;
	}

a.line_text {text-decoration: none; transition: 0.4s ease;}
a.line_text:hover {transform: scale(1.2);}

#container_phone {display: none;}
.phone_div {display: none;}
#LT2 {display: none;}


/*width = 812*/
	/*iPhone 6/7/8/Plus/X landscape*/
@media only screen and (max-width: 812px){
	#line_contain {display: none;}
	#container {display: none;}
	#container_phone {display: block; text-align: center; width: 250px; margin: 0 auto 0 auto;}
	article {background-image: url("../images/background/bookings_phone.jpg"); padding-bottom:0; 
				background-attachment: fixed;
				background-size:cover;
				overflow-x: hidden;
				max-width: 100%;}
	h1 {font-size: 15px; margin-top: 75px;}
	
	div.intro {font-size: 13px;}
	#calendar_contain_phone {font-family: 'Source Sans Pro', "sans serif"; font-style: normal;
								font-size: 14px; padding-bottom: 80px;
								width: 100%; margin-top: 80px;}
	.bookings_header_phone {font-family: 'Noto Sans TC', "sans serif";
							font-size: 16px; font-style: bold;}
	.line_long {width: 85%;}
	#calendar_contain_phone p {padding: 10px 10px 0 10px;}
	.line_short {width: 50%; margin: 15px auto 5px auto;}
	.button_calendar {background-color: rgba(133, 179, 201, 0.9); border-top: 3px solid rgba(255, 255, 255, 0.45);
						border-left: none; border-right: none; border-bottom: none;
						width: 100px; height: 42px; margin-top: 15px;}
	#bc_walk {float: left; margin-left: 17px;}
	#bc_house {float: right; margin-right: 17px;}
	.bc_link {color: white; text-decoration: none; font-size: 12px;}
	
	.schedule_phone {width: 100%;}
	#schedule_button {background-color: rgba(80, 126, 176, 0.8); height: 50px; width: 180px; padding: 10px;
						margin: 55px auto 0 auto;}
	#schedule_button a {color: white; text-decoration: none; font-family: "Roboto", sans-serif;
							font-size: 13px;}
	
	iframe {margin-top: 35px;}
	
	#linetext {display: none;}
	#LT2 {display: block; font-size: 13px;}
	
	#phone_div {display: block;}
	#email_icon {display: block; height: 100%; width: 100%; float:none; margin: 0 auto 0 auto;}
	#email_icon_link {width: 30px; height: 100%; padding:0; background-color: rgba(231, 247, 255, 0.7);
						border-radius: 50px;}
	#email_icon_contain {display: block; width: 100%; height: 30px; padding-left: 48.5%;
							padding-bottom: 20px; margin: 100px auto 0 auto;}
}

/*width 568*/
	/*iPhone SE landscape*/
@media only screen and (max-width: 568px){
	#email_icon_contain {padding-left: 48%;}
}

/*width 414*/
	/*iPhone 6/7/8/Plus portrait*/
@media only screen and (max-width: 414px){
	article {background-image: url("../images/background/bookings_phone.jpg");}
	#email_icon_contain {padding-left: 47%;}
}	

/**/
	/*width 375*//*height 812*/
		/*iPhone X portrait*/
	@media only screen and (width: 375px) and (height: 812px){
		#email_icon_contain {margin-top: 125px;}
	}
/**/

/*width 320*/
	/*iPhone SE portrait*/
@media only screen and (max-width: 320px){
	#calendar_contain_phone {margin-top: 55px;}
}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	